#form{
  box-sizing: border-box;
  padding: 5vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input{
  padding: 1vh;
  font-size: 3vh;
  color: #000;
  height: 4vh;
  border: none;
  border-bottom: 2px solid #0047AB;
}
input:focus{
  outline: none;
  border-width: 0.7vh;
}
a{
  padding: 1vh;
  font-size: 3vh;
}
button{
  height: 6vh;
  width: 8vw;
  font-size: 3vh;
  font-weight: bold;
  background-color: #0047AB;
  color: #fff;
  border-radius: 0.5rem;
  align-self: center;
}